/* stili generali della pagina */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Comic Neue', cursive;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}


h2 {
    font-size: 34px;
}

p {
    font-size: 23px;
}





/************************** *mobile first **************************/

/* stili header */
header {
    width: 100%;
    background-color: #0984FD;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-container {
    width: 90%;
    display: flex;
}

#header-left {
    width: 20%;
    display: flex;
    align-items: center;
}

#header-left img {
    width: 100%;
}

#header-right {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-right i {
    color: white;
    font-size: 30px;
}






/* stili sezione "features" */
#features {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.features-row {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;
    margin-top: 10px;
    background-color: #B5DDFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* messo wrap per far andare a capo l'immagine */
}


.text {
    width: 80%;
    margin-top: 20px;
    text-align: center;
}

.no-center-text {
    width: 80%;
    margin-top: 20px;
    text-align: left;
}

.features-row i {
    text-align: center;
    font-size: 100px;
    color: #0984FD;
    margin-top: 35px;
}

.feature-logo {
    width: 100%;
}

.features-row h2 {
    color: #0984FD;
    margin-top: 25px;
    text-align: center;
}


.features-row p {
    margin-top: 20px;
    line-height: 40px;
    padding-bottom: 40px;
}

.features-row button {
    margin-top: 20px;
    font-size: 23px;
    display: block;
    background-color: #0984FD;
    padding: 13px 80px;
    border-radius: 50px;
    border: none;
}

.features-row button i {
    color: white;
    font-size: 30px;
    margin: 0;
}

.features-row a {
    text-decoration: none;
    color: white;

}

.features-row img {
    width: 100%;
    margin-top: 30px;
}



/* stili sezione "strategic planning" */
#strategic-planning {
    width: 100%;
    margin-top: 100px;
    background-color: #9792E4;
    padding-bottom: 60px;
}

.section-container {
    width: 85%;
    margin: 0 auto;
}

#strategic-planning-container {
    width: 100%;
    padding-top: 50px;
}

#strategic-planning img {
    width: 100%;
}

#strategic-planning h2 {
    color: white;
    font-size: 44px;
    margin-top: 30px;
}

#strategic-planning-container p {
    color: white;
    font-size: 25px;
    margin-top: 40px;
    line-height: 40px;
}

#app-development-container {
    margin-top: 30px;
    background: white;
    width: 100%;
    border-radius: 40px;
    text-align: center;
    padding-bottom: 30px;
    /* debug
    min-height: 800px; */
}

#app-development-container img {
    padding-top: 25px;
}

#app-development-container h3 {
    padding-top: 10px;
    font-size: 32px;
}

#app-development-container p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 50px;
}

#app-development-container a {
    background-color: #9792E4;
    border-radius: 50px;
    padding: 20px 24px;
    display: inline-block;
}

/* sezione "testimonials" */
#testimonials {
    width: 100%;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 85px;
    /* debug
    min-height: 300px;
    background-color: red; */
}

#testimonials-container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* ho messo sia text-align:center che align-items: center così da poter centrare sia i testi che tutti gli elementi di questo container, compresi i blocchi con le testimonianze*/
}

#testimonials-container span {
    font-size: 30px;
    margin-bottom: 20px;
}

#testimonials-container h2 {
    color: #9792E4;
    font-size: 45px;
    margin-bottom: 20px;
}

#testimonials-container > p {
    font-size: 30px;
}


.testimonials-card {
    margin-top: 50px;
    background-color: #9792E4;
    color: white;
    padding-bottom: 30px;
    border-radius: 45px;
}

.img-container {
    width: 65%;
    margin: 0 auto;
    border-radius: 50px;
}

.img-container img {
    width: 100%;
    margin-top: 30px;
    border-radius: 50%;
}

.testimonials-card p {
    margin-top: 20px;
    font-size: 28px;
    margin-left: 10px;
    margin-right: 10px;

}

.testimonials-name {
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
    display: block;
}




/* sezione "benefits of working with us" */
#benefits {
    background-color: #9792E4;
    padding-bottom: 70px;
}

#benefits-container {
    width: 85%;
    padding-top: 20px;
    margin: auto;
}

#benefits-container h2 {
    color: white;
    font-size: 45px;
    margin-top: 30px;
    text-align: center;
}

.benefit-card {
    background-color: white;
    width: 100%;
    margin-top: 50px;
    border-radius: 30px;
    padding: 40px;
}

.benefit-card h3 {
    color: #9792E4;
    font-size: 60px;
}

.benefit-card h4 {
    color: #9792E4;
    font-size: 30px;
    padding-top: 20px;
}

.benefit-card p {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 35px;
}

.benefit-card a {
    font-size: 20px;
    text-decoration: none;
    background-color: #9792E4;
    color: white;
    padding: 12px 65px;
    border-radius: 50px;
}



/* sezione "about us" */
#about-us {
    width: 100%;
}

#about-us-section-container {
    width: 85%;
    margin: 30px auto;
    padding-bottom: 30px;
}

#about-us-container h2 {
    font-size: 60px;
    color: #9792E4;
}

#about-us-container p {
    font-size: 28px;
    line-height: 45px;
    display: block;
    margin-top: 50px;
}

#owner-info p {
    color: #9792E4;
    font-size: 40px;
    font-weight: bold;
}

#owner-info a {
    font-size: 25px;
    color: white;
    background-color: #9792E4;
    text-decoration: none;
    padding: 12px 18px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 50px;
}




/* sezione "get started" */
#get-started {
    width: 100%;
    background-color: #9792E4;
    padding-top: 30px;
}

#get-started-container {
    width: 85%;
    margin: 40px auto 0;
    text-align: center;
    padding-bottom: 50px;
}

#get-started-title {
    font-size: 30px;
    color: white;
}

#get-started-container h2 {
    color: white;
    font-size: 40px;
    margin-top: 25px;
}

#big-span {
    color: #FDC15F;
    font-size: 70px;
    margin-top: 25px;
}

#get-started-container p {
    color: white;
    font-size: 21px;
    margin-top: 25px;
}

#get-started-btn {
    color: #9792E4;
    font-size: 28px;
    font-weight: bold;
    background-color: white;
    margin-top: 30px;
    padding: 20px 90px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
}

#get-started-container span {
    display: block;
    color: white;
    margin-top: 20px;
    font-size: 18px;
}

#get-started-container span a {
    color: white;
}



/* stili footer */
footer {
    background-color: #333333 ;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 18px;
}

footer p {
    margin-bottom: 30px;
}

footer a{
    color: #938EDE;
}


