/* stili generali della pagina */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Comic Neue', cursive;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}


/************************** *mobile first **************************/

/* stili header */
header {
    width: 100%;
    background-color: #0984FD;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-container {
    width: 90%;
    display: flex;
}

#header-left {
    width: 20%;
    display: flex;
    align-items: center;
}

#header-left img {
    width: 100%;
}

#header-right {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-right i {
    color: white;
    font-size: 30px;
}


/* stili sezione "features" */
#features {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}



.features-row {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col {
    width: 100%;
    margin-top: 10px;
    background-color: #B5DDFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* messo wrap per far andare a capo l'immagine */
}


.text {
    width: 80%;
    margin-top: 20px;
    text-align: center;
}

.no-center-text {
    width: 80%;
    margin-top: 20px;
    text-align: left;
}

.features-row i {
    text-align: center;
    font-size: 100px;
    color: #0984FD;
    margin-top: 35px;
}

.feature-logo {
    width: 100%;
}

.features-row h2 {
    font-size: 34px;
    color: #0984FD;
    margin-top: 25px;
    text-align: center;
}


.features-row p {
    margin-top: 20px;
    font-size: 23px;
    line-height: 40px;
    padding-bottom: 40px;
}

.features-row button {
    margin-top: 20px;
    font-size: 23px;
    display: block;
    background-color: #0984FD;
    padding: 13px 80px;
    border-radius: 50px;
    border: none;
}

.features-row button i {
    color: white;
    font-size: 30px;
    margin: 0;
}

.features-row a {
    text-decoration: none;
    color: white;

}

.features-row img {
    width: 100%;
    margin-top: 30px;
}



/* stili sezione "strategic planning" */
#strategic-planning {
    width: 100%;
    margin-top: 100px;
    background-color: #9792E4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

#strategic-planning-container {
    width: 80%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;

}

#strategic-planning img {
    width: 100%;
}


#strategic-planning h2 {
    color: white;
    font-size: 45px;
    margin-top: 30px;
}

#strategic-planning-container p {
    color: white;
    font-size: 25px;
    margin-top: 40px;
    line-height: 40px;
}

#app-development-container {
    margin-top: 30px;
    background: white;
    width: 80%;
    border-radius: 40px;
    text-align: center;
    padding-bottom: 30px;
    /* debug
    min-height: 800px; */
}

#app-development-container img {
    padding-top: 25px;
}

#app-development-container h3 {
    padding-top: 10px;
    font-size: 32px;
}

#app-development-container p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 50px;
}

#app-development-container a {
    background-color: #9792E4;
    border-radius: 50px;
    padding: 20px 24px;
    display: inline-block;
}

/* sezione "testimonials" */
#testimonials {
    width: 100%;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 85px;
    /* debug
    min-height: 300px;
    background-color: red; */
}

#testimonials-container {
    width: 85%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* ho messo sia text-align:center che align-items: center così da poter centrare sia i testi che tutti gli elementi di questo container, compresi i blocchi con le testimonianze*/

    /* debug
    min-height: 500px;
    background-color: green; */
}

.testimonials-card {
    margin-top: 50px;
    background-color: #9792E4;
    color: white;
    padding-bottom: 30px;
    border-radius: 45px;
}

.img-container {
    width: 65%;
    margin: 0 auto;
    border-radius: 50px;
}

.img-container img {
    width: 100%;
    margin-top: 30px;
    border-radius: 50%;
}

.testimonials-card p {
    margin-top: 20px;
    font-size: 28px;
    margin-left: 10px;
    margin-right: 10px;

}

.testimonials-name {
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
    display: block;
}




/* sezione "benefits of working with us" */
#benefits {
    background-color: #9792E4;
    /* debug */
    min-height: 500px;
}

#benefits-container {
    width: 85%;
    padding-top: 20px;
    margin: auto;
    text-align: center;
}

#benefits-container h2 {
    color: white;
    font-size: 45px;
    margin-top: 30px;
}

.benefit-card {
    background-color: white;
    width: 100%;
    margin-top: 50px;
    border-radius: 30px;
    /* debug */
    min-height: 300px;
}





/************************* tablet version **************************/
@media all and (min-width: 480px) {



}




/************************* desktop version **************************/
@media all and (min-width: 768px) {



}