/************************* tablet version **************************/
@media all and (min-width: 481px) {

    h2 {
        font-size: 27px;
    }

    p {
        font-size: 19px;
    }

    .features-row {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
    }
    
    .col {
        width: calc((100% / 3) - 10px);
        margin: 10px 5px;
        background-color: #B5DDFF;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* messo wrap per far andare a capo l'immagine */
    }

    .big-col {
        width: calc((100% / 3) * 2 - 10px);
    }

    .features-row i {
        font-size: 80px;
    }

    #benefits-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 900px;
    }
    
    
    .benefit-card {
        background-color: white;
        width: calc((100% / 2) - 10px);
        margin-top: 50px;
        border-radius: 30px;
        padding: 40px;
    }

}



/************************* desktop version **************************/
@media all and (min-width: 768px) {
        
    .features-row {
        max-width: 1000px;
    }

    .section-container {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    #strategic-planning-container {
        max-width: 350px;
        padding-top: 50px;
    }

    #strategic-planning h2 {
        font-size: 34px;
    }

    #strategic-planning h3 {
        font-size: 30px;
    }
    
    #app-development-container {
        margin-top: 30px;
        max-width: 350px;
        border-radius: 40px;
        text-align: center;
        padding-bottom: 30px;
        position: relative;
        /* debug */
        background-color: #9792E4;
    }

    #app-developement-items-container {
        background-color: white;
        position: absolute;
        bottom: 0;
        max-height: 600px;
        padding-bottom: 10px;
        border-radius: 30px;
    }

    #app-development-container img {
        max-width: 70%;
    }


    #app-development-container h3 {
        font-size: 24px;
    }

    #app-development-container p {
        font-size: 16px;
        margin-bottom: 25px;
    }

    #app-development-container a {
        background-color: #9792E4;
        border-radius: 50px;
        padding: 8px 13px;
        display: inline-block; 
    }

    #testimonials-container {
        max-width: 900px;
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: center;
        /* ho messo sia text-align:center che align-items: center così da poter centrare sia i testi che tutti gli elementi di questo container, compresi i blocchi con le testimonianze*/
    }


    #testimonials-container > p {
    font-size: 20px;
    }

    .testimonials-card {
        flex-direction: row;
        align-items: center;
    }

    .testimonials-card p, .testimonials-card span {
        font-size: 24px;
    }

    .img-container {
        width: 30%;
        margin-left: 10px;
    }

    .img-container img {
        width: 200px;
        height: 200px;
    }

    .testimonials-text {
        width: 70%;
    }

    .benefit-card {
        width: calc((100% / 3) - 10px);
    }



}